body {
    font-family: "Poppins", sans-serif;
    color: #343434;
    font-weight: 400;
  }

.section-padding {
    padding: 100px 0;
}
.pb-70{
    padding-bottom:70px;
}

.title h3{
    font-weight: 900;
    font-size: 40px;
    position: relative;
    display: inline-block;
    z-index: 4;
}
.title h3:after {
    content: "";
    width: 100%;
    height: 40px;
    background-image: url('../images/dots.png');
    background-repeat: repeat;
    position: absolute;
    bottom: -10px;
    left: 0;
    z-index: -1;
}






/* -------------------------------------------------------
                     loader 
-------------------------------------------------------- */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000000;
  transition: opacity 0.75s, visibility 0.75s;
}

.loader--hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 55px;
  height: 55px;
  border: 8px solid #ffffff;
  border-top-color: #4f4f4f;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}



/* -------------------------------------------------------
                     Navbar 
-------------------------------------------------------- */

.navbar .container{
    padding: 5px 10px !important;
}
.navbar .navbar-nav .nav-item{
    margin: 0 10px;
    font-size: 14px;
}
.navbar .navbar-nav{
    margin-right: 50px;
}
.navbar-brand {
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
}
.navbar .navbar-nav > li{
    margin: 0 20px !important;
}
.navbar .navbar-nav > li > a {
    margin: 0 !important;
    padding: 0 !important;
    position: relative;
    overflow: hidden;
    color: #fff;
}
.navbar .navbar-nav li a:after {
    content: "";
    width: 0;
    height: 2px;
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.5s;
}

.navbar .navbar-nav > li > .active{
    color: #fff;
}

.navbar .navbar-nav li:hover a::after{
    width: 100%;
}
.navbar .navbar-nav li .active::after{
    width: 100%;
}


.nav-scroll{
    background-color: #fff !important;
    box-shadow: 16px 10px 82px -25px rgba(0,0,0,0.67);
}
.nav-scroll .nav-link{
    color: #111 !important;
}
.nav-scroll .navbar-brand{
    color: #111 !important;
}
.nav-scroll .navbar-nav li a:after {
    content: "";
    width: 0;
    height: 2px;
    background: #111;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.5s;
}
.navbar-toggler{
    border: none !important;
}
.navbar-toggler:focus{
    visibility: hidden;
}

.nav-scroll .fa-solid{
    color: #111 !important;
}

@media screen and (max-width: 767px){
    .navbar .navbar-nav {
        margin-right: 0px !important;
    }
    .navbar .navbar-nav{
        background-color: #fff;
    }
    .navbar .navbar-nav .nav-item {
        padding: 20px;
        text-align: center;
    }
    .navbar .navbar-nav .nav-item .nav-link{
        color: #111 !important;
    }

    .nav-scroll .navbar-nav li a:after {
        background: none;
    }
    
}





/* -------------------------------------------------------
                     home 
-------------------------------------------------------- */

.home{
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.home:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    opacity: 0.65;
    z-index: 2;
}
.home .container{
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
}
.home .caption{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.home .caption h5 {
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 10px;
}
.home .caption h3 {
    font-weight: 200;
    font-size: 60px;
}
.home .caption h3 span{
    font-weight: 400;
}

.home .caption .social-icon {
    margin: 30px;
}
.home .caption .social-icon a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
.home .caption .social-icon div{
    font-size: 14px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    background-color:rgba(0, 0, 0, 0.555);
    margin: 5px;
    display: inline-block;
    text-align: center;
}













/* -------------------------------------------------------
                     about 
-------------------------------------------------------- */

.about .about-img {
    padding: 0 0 0 30px;
    position: relative;
}
.about .about-img:after {
    content: "";
    width: 80%;
    height: 80%;
    position: absolute;
    left: 0px;
    bottom: -30px;
    background-image: url('../images/dots.png');
    background-repeat: repeat;
    z-index: -1;
}
.about .content h3 {
    font-weight: 800;
    margin-bottom: 5px;
}
.about .content p{
    margin-top: 20px;
    line-height: 1.6;
    margin: 20px 0px;
    font-size: 15px;
    color: #748182;
}
.about .content .subtitle {
    color: #999;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 40px;
}
.about .skills {
    margin-top: 30px;
}
.about .skills .item {
    margin-bottom: 30px;
}



.about .skills h6 {
    padding-top: 10px;
    font-size: 13px;
    color: #fff;
    position: absolute;
    left: 10px;
    z-index: 2;
}
.about .skills .progress-bar {
    width: 100%;
    height: 25px;
    padding: 5px 10px;
    border-radius: 5px;
    background: #f7f7f7;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.15) inset;
    position: relative;
}
.about .skills .progress-bar .span1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 95%;
    border-radius: 5px;
    background-color: #1c1c1c;
    transition: all 1s;
}
.about .skills .progress-bar .span1:after {
    content: attr(data-value);
    position: absolute;
    top: 6px;
    right: 10px;
    font-size: 11px;
    color: #fff;
}

.about .skills .progress-bar .span2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 80%;
    border-radius: 5px;
    background-color: #1c1c1c;
    transition: all 1s;
}
.about .skills .progress-bar .span2:after {
    content: attr(data-value);
    position: absolute;
    top: 6px;
    right: 10px;
    font-size: 11px;
    color: #fff;
}

.about .skills .progress-bar .span3 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 90%;
    border-radius: 5px;
    background-color: #1c1c1c;
    transition: all 1s;
}
.about .skills .progress-bar .span3:after {
    content: attr(data-value);
    position: absolute;
    top: 6px;
    right: 10px;
    font-size: 11px;
    color: #fff;
}

.btnn{
    margin-top: 20px;
    color: #111;
}
.btnn span{
    color: #111;
}
.btnn-bg {
    background: #1c1c1c;
    color: #eee;
}
.btnn {
    padding: 10px 30px;
    border: 1px solid #1c1c1c;
    border-radius: 5px;
    font-size: 13px;
    transition: all 0.5s;
}
.btnn1:hover{
    background-color: #fff;
    color: #111;
}
.btnn2:hover{
    background-color: #111;
    color: #fff;
}



















/* -------------------------------------------------------
                     services 
-------------------------------------------------------- */

.services{
    background-color: #F7F7F7;
}
.services .title h3{
    font-weight: 900;
    font-size: 40px;
    position: relative;
    display: inline-block;
    z-index: 4;
}
.services .title h3:after {
    content: "";
    width: 100%;
    height: 40px;
    background-image: url('../images/dots.png');
    background-repeat: repeat;
    position: absolute;
    bottom: -10px;
    left: 0;
    z-index: -1;
}

.services .item {
    padding: 50px 20px;
    background: #fff;
    box-shadow: 0px 10px 30px -8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.services .item .icon {

    font-size: 30px;
    margin-bottom: 20px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    background: #f4f4f4;
    border-radius: 50%;
    transition: all 0.5s;
}
.services .item:hover .icon {
    background: #1c1c1c;
    color: #eee;
}

.services .item h6 {
    margin-bottom: 15px;
    font-weight: 800;
    font-size: 18px;
}
.services .item p {
    word-spacing: 2px;
    font-size: 14px;
    line-height: 1.6;
    color: #748182;
}


















/* -------------------------------------------------------
                     portfolio 
-------------------------------------------------------- */


.portfolio .nav .nav-item .nav-link {
    color: #111;
    font-weight: 700;
    text-transform: capitalize;
    background-color: transparent;
    position: relative;
    padding: 0px !important;
    margin: 3px 20px !important;
}
.portfolio .nav .nav-item .nav-link::after{
    content: "";
    width: 0;
    height: 2px;
    background: #111;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: all 0.4s;
    z-index: -1;
}
.portfolio .nav .nav-item .active::after{
    width: 95%;
}


.portfolio .item-img h6 {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    position: relative;
    margin-bottom: 15px;
    transform: translateY(-15px);
    transition: all 0.5s;
}
.portfolio .item-img .icon i {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 28px;
    border-radius: 50%;
    border: 1px solid #111;
    background: #111;
    color: #eee;
}
.portfolio .item-img .icon i:hover {
    background: transparent;
    color: #000;
}
.portfolio .item-img {
    position: relative;
    overflow: hidden;
}
.portfolio .item-img-overlay {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    background: rgba(255, 255, 255, 0.95);
    opacity: 0;
    transition: all 0.5s;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.portfolio .items:hover .item-img-overlay{
    opacity: 1;
}







/* -------------------------------------------------------
                     clients 
-------------------------------------------------------- */


.clients{
    background-color:#F7F7F7 ;
}

.clients .carousel .carousel-indicators button{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 8px !important;
    background-color: #b0b0b0;
    transition: all 0.3s ease;
}
.clients .carousel .carousel-indicators button:hover{
    background-color: #464646;
}
.clients .carousel .carousel-indicators .active{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 8px !important;
    background-color: #807f7f;
}

.clients .carousel .carousel-item p{
    word-spacing: 2px;
    line-height: 1.6;
    margin: 0;
    font-size: 15px;
    color: #748182;
}
.clients .carousel .carousel-item h6{
    font-size: 16px;
    font-weight: 600;
    margin: 30px 0 5px;
    font-family: "Montserrat", sans-serif;
    color: #748182;
}
.clients .carousel .carousel-item span{
    font-size: 12px;
    font-weight: 600;
    color: #888;
    margin-bottom: 30px;
}













/* -------------------------------------------------------
                     numbers 
-------------------------------------------------------- */

.counter .icon {
    font-size: 30px;
    margin-bottom: 15px;
}
.counter h3 {
    font-weight: 900;
    margin-bottom: 15px;
}
.counter p {
    font-weight: 600;
    margin-bottom: 30px;
}










/* -------------------------------------------------------
                     team 
-------------------------------------------------------- */

.team{
    background-color: #F7F7F7;
}
.team .item .img-area {
    overflow: hidden;
    position: relative;
    transition: all 0.5s ;
}
.img-area img {
    transition: all 0.4s ease 0s;
}
.img-area .social {
    background-color: rgba(255, 255, 255, 0.95);
    position: absolute;
    text-align: center;
    inset: 5px;
    opacity: 0;
    transition: 0.5s;
    transform: rotateY(180deg) scale(0.5, 0.5);
}




.team .item .img-area:hover .social{
    opacity: 1;
    inset: 5px;
    transform: rotateY(360deg) scale(1,1);
    transition: 0.5s;
}
.team .item .img-area:hover img{
    scale: 1.2;
}






.img-area .social ul {
    text-align: center;
    position: relative;
    top: 175px;
}
.list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}
.list-inline > li a{
    text-decoration: none;
    color: #111;
}

.img-area .social ul li a {
    border: 1px solid #000;
    color: #fff;
    background-color: #000;
    display: block;
    font-size: 20px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
.img-area .social ul li a:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}


.img-text {
    padding: 25px;
    color: #fff;
    text-align: center;
    background-color:#5B5B5B ;
}
.img-text h4 {
    margin: 0 0 5px;
}
.img-text h5 {
    text-transform: uppercase;
    font-weight: bold;
}













/* -------------------------------------------------------
                     contact 
-------------------------------------------------------- */




.contact .info .item .icon {
    font-size: 25px;
    margin-bottom: 15px;
    width: 60px;
    height: 60px;
    margin: 20px auto;
    line-height: 60px;
    background: #f4f4f4;
    border-radius: 50%;
    transition: all 0.5s;
}
.contact .info .item:hover .icon{
    background-color: #111;
    color: #fff;
}
.contact .info .item h6 {
    font-weight: 700;
    margin-bottom: 10px;
}
.contact .info .item p {
    line-height: 1.6;
    margin: 0;
    font-size: 15px;
    color: #748182;
}

.contact form .form-group input{
    width: 100%;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    background-color: #f4f4f4;
}
.contact form .form-group input:focus{
    outline: none;
}
.contact form .form-group textarea{
    width: 100%;
    height: 160px;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    background-color: #f4f4f4;
}
.contact form .form-group textarea:focus{
    outline: none;
}

.buttn {
    padding: 10px 30px;
    border: 1px solid #1c1c1c;
    border-radius: 5px;
    font-size: 13px;
    transition: all 0.5s;
    background-color: #1c1c1c;
    color: #fff;
}
.buttn:hover{
    background-color: #fff;
    color: #111;
}

















/* -------------------------------------------------------
                     footer 
-------------------------------------------------------- */


footer {
    background: #1c1c1c;
    padding: 30px;
}
footer p {
    line-height: 1.6;
    margin: 0;
    font-size: 15px;
    color: #748182;
    font-size: 13px;
    word-spacing: 2px;
}